@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

hr{
  flex: 1;
  border: none;
  height: 1px;
  background: #ddd;
}

#app-menu{
  position:fixed;
  top:15%;
  right:0;
  width: 350px;
  background-color: #FFF;
  opacity:1;
  z-index:1;
}
.app-menu-hide{
  width:0!important;
}

#app-menu-btn-hide{
  position:absolute;
  top:0;
  left:-25px;
  width:25px;
  height:100%;
}

#app-disable-modes{
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  opacity:1;
  z-index:1;
  background-color:#FFF;
}

.zoom-in{
  zoom:1;
}

.zoom-out{
  zoom:0.4;
  @include media-breakpoint-up(sm) {
    zoom:0.75;
  }
}