<div class="container py-5">
	<div class="row mb-4">
		<div *ngIf="!wall.isBuying && !wall.isUpdating" class="col-12 mb-4">
			<h3 class="text-muted text-center">
				Own a
				<span class="font-weight-bold">SLOT</span>. Own a piece of
				<span class="font-weight-bold">HISTORY</span>.
			</h3>
			<hr>
		</div>
		<div *ngIf="!wall.isLoading" class="col-12">
			<div *ngIf="!wall.isBuying && !wall.isUpdating" class="text-center">
				<p class="alert alert-warning">
					<i class="fa fa-exclamation-triangle mr-2"></i>
					Some users have reported issues while buying. New purchases have been disabled until the problem is fixed. <span class="font-weight-bold">Keep tuned</span>
				</p>
				<button class="btn btn-success mb-2 mr-4" (click)="wall.isBuying = true" disabled>Buy (disabled for maintenance)</button>
				<button class="btn btn-success mb-2 mr-4" (click)="wall.isUpdating = true">Update slot</button>
				<button class="btn btn-success mb-2 mr-4" disabled>Trade (coming soon...)</button>
			</div>
			<div *ngIf="wall.isBuying">
				<div class="d-flex justify-content-between align-items-center mb-4">
					<hr>
					<button class="btn btn-secondary mr-2" (click)="wall.isBuying = false">
						<i class="fas fa-times mr-2"></i>
						<span>Disable buy mode</span>
					</button>
					<hr>
				</div>
				<h4 class="text-center">
					Select the slot you want to buy
				</h4>
			</div>
			<div *ngIf="wall.isUpdating">
				<div class="d-flex justify-content-center align-items-center mb-4">
					<hr>
					<button class="btn btn-secondary mr-2" (click)="wall.isUpdating = false">
						<i class="fas fa-times mr-2"></i>
						<span>Disable update mode</span>
					</button>
					<hr>
				</div>
				<h4 class="text-center">
					Select the slot you want to update
				</h4>
			</div>
		</div>
		<div *ngIf="wall.isLoading" class="col-12 text-center">
			<i class="fas fa-circle-notch fa-spin mr-2"></i>Loading...
		</div>
	</div>
	<div class="row">
		<div *ngIf="!wall.isBuying && !wall.isUpdating" class="col-12 text-center border-bottom pb-1 mb-3">
			<span class="mr-2">Pixels sold:
				<span class="badge badge-secondary mr-2">{{wall.pixelsSold}}</span>
			</span>
			<span class="mr-2">Pixel price:
				<span class="badge badge-secondary mr-2">{{wall.pixelPrice ? wall.pixelPrice.toFixed(4)+' EOS' : ''}}</span>
			</span>
			<span>
				Having trouble? Contact us at
				<span class="font-weight-bold">support@eoswall.io</span>
			</span>
		</div>
		<div class="col-12">
			<app-wall [isLoading]="wall.isLoading" [slots]="wall.slots" [pixelPrice]="wall.pixelPrice" [isBuying]="wall.isBuying" (buy)="onBuy($event)" [isUpdating]="wall.isUpdating"
			 (update)="onUpdate($event)"></app-wall>
		</div>
	</div>
</div>