@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

hr {
  flex: 1;
  border: none;
  height: 1px;
  background: #ddd;
}

#app-disable-modes{
  position: fixed;
  top: 0;
  left:0;
  right:0;
  opacity:1;
  z-index:1;
  background-color:#FFF;
}

.zoom-in{
  zoom:1.1;
}

.zoom-out{
  zoom:0.3;
  @include media-breakpoint-up(sm) {
    zoom:0.9;
  }
}

.extra-padding-top {
  padding-top: 5em!important;
}
