<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <div class="row mb-5">
        <div class="col-12">
          <h3 class="border-bottom pb-2 mb-4">Frecuently Asked Questions:</h3>
          <ngb-accordion [closeOthers]="true">
            <ngb-panel title="¿What is The EOS Wall?">
              <ng-template ngbPanelContent>
                <p>
                  The EOS Wall project was born as a proof of concept of EOS DAPP.
                  <br> Every user that has an EOS account can buy a portion of the wall called
                  <span class="fw-bold">slot</span>. A slot is composed by a title, an image and an url to redirect when the slot is clicked.
                  <br> All the slots are stored in the EOS blockchain and can be updated at anytime by its owners.
                </p>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="¿How is the price calculated?">
              <ng-template ngbPanelContent>
                <p>
                  The price of a slot is calculated with the following formula:
                  <br>
                  <span class="fw-bold">
                    <span class="badge bg-primary">Slot price</span> =
                    <span class="badge bg-info">Pixel price</span> x
                    <span class="badge bg-info">Slot pixels</span>
                  </span>
                </p>
                <hr>
                <p>
                  The pixel price will change over time automatically depending on the total pixels that had been sold. It is calculated with the following lineal
                  functions:
                </p>
                <ul>
                    <li class="fw-bold mb-4">
                      When, sold pixels <= 800,000 pixels, then:
                      <br>
                      <span class="badge bg-primary">Pixel price</span> =
                      <span class="badge bg-info">0.0015 EOS</span> /
                      <span class="badge bg-info">1,000,000 pixels</span> x
                      <span class="badge bg-info">Pixels sold</span> +
                      <span class="badge bg-info">0.0005 EOS</span>
                    </li>
                    <li class="fw-bold"> When, sold pixels > 800,000 pixels, then:
                      <br>
                      <span class="badge bg-primary">Pixel price</span> =
                      <span class="badge bg-info">0.003 EOS</span> /
                      <span class="badge bg-info">1,000,000 pixels</span> x
                      <span class="badge bg-info">Pixels sold</span> +
                      <span class="badge bg-info">0.0005 EOS</span>
                    </li>
                  </ul>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="¿Who pays for RAM?">
              <ng-template ngbPanelContent>
                The RAM for every new slot stored in the wall is payed by the smart contract itself.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="¿Can I trust the external links?">
              <ng-template ngbPanelContent>
                <p>
                  No, you can't. This app is not responsible for the content of external sites referenced by the slots.
                  <br> However, we make our best to constantly moderate the slots. Any slot considered malicious will be removed
                  from the wall.
                </p>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="¿Where can I find the smart contract?">
              <ng-template ngbPanelContent>
                <p>The smart contract has the following structure. For more information please refer to the Ricardian Contracts
                  attached to the smart contract.</p>
                <ul>
                  <li class="fw-bold mb-2">
                    <span class="me-2">Contract:</span>
                    <span class="badge bg-info">{{Constants.network.code}}</span>
                  </li>
                  <li class="fw-bold mb-2">
                    <span class="me-2">Tables:</span>
                    <span class="badge bg-info me-2">slot ({{Constants.network.code}} scope)</span>
                    <span class="badge bg-info">account (account scope)</span>
                  </li>
                  <li class="fw-bold mb-2">
                    <span class="me-2">Public actions:</span>
                    <span class="badge bg-info me-2">buy</span>
                    <span class="badge bg-info">update</span>
                  </li>
                </ul>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="¿Why do I need Scatter to buy a slot?">
              <ng-template ngbPanelContent>
                <p>
                  To buy or update a slot, it is necessary to interact with the EOS blockchain. Scatter extension has the ability to interact
                  with the blockchain by pushing and signing transactions safely using your browser.
                </p>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
