
  <div id="app-wall" class="m-auto" [ngClass]="[isBuying?'cursor-crosshair':'',isBuying || isUpdating? 'app-wall-active':'',isLoading?'loading':'']">
    <div id="app-wall-selection" *ngIf="isBuying && selection.slot" [ngStyle]="selection.slot.cssPosition">
      <div id="app-wall-selection-info" class="p-2 bg-white border rounded">
        <p class="text-center">
          {{selection.slot.width}}x{{selection.slot.height}} at position {{selection.slot.c1[0]}},{{selection.slot.c1[1]}} ({{selection.slot.pixels}} px)
        </p>
        <p class="fw-bold text-center">
          Price: {{selection.slot.price?.toString()}}
        </p>
        <div class="d-grid">
          <button *ngIf="selection.intersects || selection.exceeded" class="btn btn-danger fw-bold" disabled>{{(selection.intersects) ? 'Slot is not available' : 'Slot is too big'}}</button>
          <button *ngIf="!selection.intersects && !selection.exceeded" class="btn btn-success fw-bold" (click)="buySlot()">Buy this slot</button>
        </div>
      </div>
      <div class="handle-m" (mousedown)="selection.mousedown = 'm'" [ngClass]="{'bg-danger':selection.intersects || selection.exceeded,'bg-info':!selection.intersects && !selection.exceeded}"></div>
      <div class="handle handle-tl bg-warning" (mousedown)="selection.mousedown = 'tl'"></div>
      <div class="handle handle-t bg-warning" (mousedown)="selection.mousedown = 't'"></div>
      <div class="handle handle-tr bg-warning" (mousedown)="selection.mousedown = 'tr'"></div>
      <div class="handle handle-r bg-warning" (mousedown)="selection.mousedown = 'r'"></div>
      <div class="handle handle-br bg-warning" (mousedown)="selection.mousedown = 'br'"></div>
      <div class="handle handle-b bg-warning" (mousedown)="selection.mousedown = 'b'"></div>
      <div class="handle handle-bl bg-warning" (mousedown)="selection.mousedown = 'bl'"></div>
      <div class="handle handle-l bg-warning" (mousedown)="selection.mousedown = 'l'"></div>
    </div>
    <div *ngFor="let slot of slots" class="app-slot" [ngStyle]="slot.cssPosition" [style.backgroundImage]="'url('+slot.getProxyImageUrl()+')'"
         [ngbTooltip]="slot.title+' ('+slot.owner+')'" [ngClass]="[(isBuying)?'disabled-pointer-events':'']">
      <a *ngIf="!isUpdating && !isBuying" class="app-slot-content" [href]="slot.url" target="_blank"></a>
      <div *ngIf="isUpdating" class="app-slot-content app-slot-selected" (click)="updateSlot(slot)"></div>
    </div>
  </div>
